/* .eventspage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event-list,
.event-title-box {
  width: 100%;
} */
/* .event-title {
  outline: 2px solid green;
} */
