@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  /* padding: 0; */
}

:root {
  --font-tc: "Technor", sans-serif;
  --font-nn: "Nunito", sans-serif;
}
body {
  /* background-color: #fff3e2; */
  /* background-color: #c7e9b0;
  background-color: #fdf7c3; */
  background-color: #f5eaea;
}

.ff-tc {
  font-family: var(--font-tc);
}
.ff-nn {
  font-family: var(--font-nn);
}

.ot-red {
  outline: 2px solid red;
}
.ot-blue {
  outline: 2px solid blue;
}
.ot-green {
  outline: 2px solid green;
}
.ot-yellow {
  outline: 2px solid yellow;
}

.ds-no {
  display: none;
}
